.Navbar{
    position: relative !important;
    background-color: #040e20 !important;
    margin: 0 !important;
}
.left-section-navbar{
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: space-evenly;
    gap: 30px;
}
